.sentimentalanalysis{
  padding-top: 100px;
}
.headFirstsentiment{
    color:#2c2f3b;
    text-transform: uppercase;
    font-size: 10.75rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 300;
    line-height: .78;
    text-align: left;
    width:2000px;
    
    -webkit-transform: scaleX(1);
    transform: scaleX(0.4);
    letter-spacing: 5px;
    margin-left:-460px;
    word-spacing: 20px;
    margin-top: 0px;
    }
    .firstpara{
        margin-top: 30px;
        margin-left:140px;
        width: 850px;
        font-size: 1.8em;
        font-weight: 300;
        line-height: 1.5;
        color: #2c2f3b;
        text-align: left;
        font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
     
    }
    .firstimagesentiment{
        border: 50%;
       margin-top: 10px;
    } 
    .svgbut2{
        border: 1px solid #531cb3;
    width: 170px;
    height: 40px;
    text-align: center;
    justify-content: center;
    margin-left: -560px;
    margin-top: 50px;
    }
    .svgbut2:hover #linefirst{stroke: white !important}
            .svgbut2:hover #line1first{stroke: white !important}
            .svgbut2:hover #line2first{stroke: white !important}
          .svgbut2:hover #line3first{stroke: white !important}
          .svgbut2:hover {
            background-color: #531cb3;
          }
          .svgbut2:hover .btn{
            color: white;
          }
    .btn{
        color: #531cb3;
    }
    #button-svg2{
        margin-top: -11px !important;
        position: absolute;
        margin-left:0px;
        z-index: 1;
      }
      
      .svgbut2:hover #linefirst{
      animation-name: linesvgfirst;
      animation-duration: 2s;
      animation-delay: 1s;
     
      }
      .svgbut2:hover #line1first{
      transform: rotate(16deg) scale(.45);
      transform-origin: 0px 40px;
      transition-duration: 1s;
    
      }
      .svgbut2:hover #line3first{
      transition-duration: 1s;
      transform: rotate(36deg) scale(1);
      transform-origin: 0px 5px;
     
      }
      @keyframes linesvgfirst{
      from{stroke-width: 0; }
      to{stroke-width: 1 ; }
      }
      #line{
      stroke-width: 0  ;
      }
      #triangle-upsentiment {
        width: 0;
        height: 0;
        border-left: 400px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 360px solid #531cb3;
       margin-top: -160px;
       margin-left: 60px;
       opacity: .85;
     
    }
    
      .btn{
        padding-top: 30px;
        padding-bottom: 10px;
      }
      @media screen and (max-width: 1025px){
        .headFirstsentiment{
          width:800px !important;
          margin-left:-180px !important;
        }
        
        .firstpara{
          width:650px ;
          margin-left:60px;
        }
         .firstimagesentiment{
          border-radius: 600px !important;
          width:300px !important;
        margin-left: 160px !important;
        margin-top: 160px!important;
         }
         #triangle-upsentiment {
          width: 0;
        height: 0;
        border-left: 260px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 300px solid #531cb3;
       margin-top: -20px;
       margin-left: 240px;
       opacity: .85;
        }
        .svgbut2{
          border: 1px solid #531cb3;
        width: 170px;
        height: 40px;
        text-align: center;
        justify-content: center;
        margin-left: -190px ;
        margin-top: 20px !important;
        }
          }
          @media screen and (max-width: 769px){
            .headFirstsentiment{
              font-size: 6.75rem !important;
            }
            
            .firstpara{
            
              font-size: 1.2em !important ;
             width: 430px !important ;
              margin-left:60px ;
            }
             .firstimagesentiment{
              border-radius: 600px !important;
              width:300px !important;
            margin-left: 200px !important;
            margin-top: 200px !important;
             }
             #triangle-upsentiment {
              width: 0;
              height: 0;
              border-left: 330px solid transparent ;
              border-right: 0px solid transparent;
              border-bottom: 300px solid #531cb3 ;
             margin-top: -100px !important;
             margin-left: 200px ;
             opacity: .85;
            
            }
            .svgbut2{
              border: 1px solid #531cb3;
            width: 170px;
            height: 40px;
            text-align: center;
            justify-content: center;
            margin-left: -12px !important ;
            margin-top: 20px !important;
            }
              }
              @media screen and (max-width: 426px){
                .headFirstsentiment{
                  font-size: 6.75rem !important;
                  margin-left: -210px !important;
                }
                .firstpara{
                  padding-left: -10px;
                max-width: 300px;
                  font-size: 1.2em !important ;
                 width: 450px !important ;
                  margin-left:30px !important;
                }
                 .firstimagesentiment{
                  border-radius: 600px !important;
                  width:300px !important;
                margin-left: 80px !important;
                margin-top: 60px !important;
                 }
                 #triangle-upsentiment {
                  width: 0;
                  height: 0;
                  border-left: 330px solid transparent ;
                  border-right: 0px solid transparent;
                  border-bottom: 300px solid #531cb3 ;
                 margin-top: -200px !important;
                 margin-left: 100px ;
                 opacity: .85;
                
                }
                .svgbut2{
                  border: 1px solid #531cb3;
                width: 190px;
                height: 40px;
                text-align: center;
                justify-content: center;
                margin-left: -185px !important ;
                margin-top: 20px !important;
                }
                #button-svg2{
                  margin-top: -11px !important;
                  position: absolute;
                  margin-left: 8px !important;;
                  z-index: 1;
                }
                  }
                  @media screen and (max-width: 376px){
                    .headFirstsentiment{
                      font-size: 6.75rem !important;
                      margin-left: -210px !important;
                    }
                    .firstpara{
                      padding-left: -10px;
                    max-width: 300px;
                      font-size: 1.2em !important ;
                     width: 450px !important ;
                      margin-left:30px !important;
                    }
                     .firstimagesentiment{
                      border-radius: 600px !important;
                      width:300px !important;
                    margin-left: 80px !important;
                    margin-top: 60px !important;
                     }
                     #triangle-upsentiment {
                      width: 0;
                      height: 0;
                      border-left: 330px solid transparent ;
                      border-right: 0px solid transparent;
                      border-bottom: 300px solid #531cb3 ;
                     margin-top: -200px !important;
                     margin-left: 100px ;
                     opacity: .85;
                    
                    }
                    .svgbut2{
                      border: 1px solid #531cb3;
                    width: 190px;
                    height: 40px;
                    text-align: center;
                    justify-content: center;
                    margin-left: -135px !important ;
                    margin-top: 20px !important;
                    }
                    #button-svg2{
                      margin-top: -11px !important;
                      position: absolute;
                      margin-left: 8px !important;;
                      z-index: 1;
                    }
                      }
                      @media screen and (max-width: 322px){
                        .headFirstsentiment{
                          font-size: 6.75rem !important;
                          margin-left: -210px !important;
                        }
                        .firstpara{
                          padding-left: -10px;
                        max-width: 250px;
                          font-size: 1.2em !important ;
                         width: 450px !important ;
                          margin-left:30px !important;
                        }
                         .firstimagesentiment{
                          border-radius: 600px !important;
                          width:300px !important;
                        margin-left: 10px !important;
                        margin-top: 60px !important;
                         }
                         #triangle-upsentiment {
                          width: 0;
                          height: 0;
                          border-left: 330px solid transparent ;
                          border-right: 0px solid transparent;
                          border-bottom: 300px solid #531cb3 ;
                         margin-top: -220px !important;
                         margin-left: 100px ;
                         opacity: .85;
                        
                        }
                        .svgbut2{
                          border: 1px solid #531cb3;
                        width: 190px;
                        height: 40px;
                        text-align: center;
                        justify-content: center;
                        margin-left: -80px !important ;
                        margin-top: 20px !important;
                        }
                        #button-svg2{
                          margin-top: -11px !important;
                          position: absolute;
                          margin-left: 8px !important;;
                          z-index: 1;
                        }
                          }
            
        