.css-ah0e1x-MuiPaper-root {box-shadow: none !important;}
.gcgroundgrid3, .gcgroundgrid4{background-color: #f8f8f9 !important;height: 500px;box-shadow: none !important;}
.gcgroundgrid3 img{height: 400px;transform: translate(50px,50px);}
.gcgroundgrid4 p{font-size: 16px;width: 650px !important; 
    transform: translate(-40px,50px);color: black;
}
.gcgroundgrid4 h2{width: 800px !important;}
#gcp1{width: 650px !important;}
.gcgroundgrid4 h2{font-size: 35px !important;
    transform: translate(-40px,40px);
}
.gcgroundgrid4 ul{font-size: 16px !important;color: rgb(54, 52, 52);
    transform: translate(-30px,50px);
}
.gcgroundredtriangle{background-color: #e33d3b !important;
    width: 220px !important;
    height: 220px !important;
    clip-path: polygon(0 0,0 100%,100% 0) !important;
    transform: rotate(180deg) !important;
    position: relative;left: 310px !important;
    top: -170px !important;
}
.gcgroundredtriangle h4{
    transform: rotate(180deg) !important;
    position: relative;left: -80px !important;
    top: -20px !important;font-size: 20px;color: white;
}

.gcgroundgrid3 h4{color: white !important;position: relative;top: -60px !important;}
.gcgroundplayicon{color: rgb(255, 255, 255);height: 60px !important;
    width: 50px !important;position: relative;left: 50px ;
    top: 60px;
    transform: rotate(180deg) !important;

}
.gcgroundplayicon:hover {
    animation-name: movement !important;
    animation-duration: 2s !important;
    animation-iteration-count: 1;
}
@keyframes movement {
    0%   { left:200px ; }
    45%  {transform: rotate(180deg) !important;}
    30%  {left:300px;  }
    100% {left: 430px ; }
  }
.gc11{display:  none !important;}
/*-------------------------------1024-------------------*/
@media screen and (max-width:1024px){
    body{overflow-x: hidden !important;
        margin-right:-870px !important;
        padding: 0px !important;
    }  
    .gcgroundgrid3, .gcgroundgrid4{height: 900px !important;}
    .gcgroundgrid4{margin-left: -90px !important;}
    .gcgroundgrid4 p{font-size: 26px;width: 880px !important;}
    .gcgroundgrid4 h2{font-size: 37px !important;padding-top: 90px;}
    .gcground3img2{padding-top: 100px;height: 560px !important;}
    .gcgroundgrid4 ul{font-size: 26px !important;width: 850px !important;}
    .gcgroundgrid4 h2{font-size: 45px !important;}
    .gcgroundredtriangle{left: 380px !important;}
  }
/*-------------------------------768-------------------*/
@media screen and (max-width:769px){
    body{overflow-x: hidden !important;
        margin-right:-980px !important;
        padding: 0px !important;
    }  
    .gcgroundgrid3, .gcgroundgrid4{height: 1300px !important;}
    .gcgroundgrid4{margin-left: -90px !important;}
    .gcgroundgrid4 p{font-size: 34px;width: 800px !important;}
    .gcgroundgrid4 h2{font-size: 37px !important;padding-top: 90px;}
    .gcground3img2{padding-top: 100px;height: 560px !important;}
    .gcgroundgrid4 ul{font-size: 34px !important;width: 750px !important;}
    .gcgroundgrid4 h2{font-size: 45px !important;}
    .gcgroundredtriangle{left: 300px !important;top: -250px !important;
        height: 300px !important;width: 300px !important;}
  }
/*-------------------------------425-------------------*/
@media screen and (max-width:426px){
    body{overflow-x: hidden !important;
        margin-right:-2975px !important;
        margin-left: 0px !important;
        padding: 0px !important;
    }  
    .gcgroundgrid3, .gcgroundgrid4{height: 1300px !important;padding-left: 200px !important;}
    .gcgroundgrid4{padding-left: 280px !important;height: 2500px !important;}
    .gcgroundgrid4 p{font-size: 65px !important;width: 1450px !important;}
    .gcgroundgrid4 h2{font-size: 73px !important;padding-top: 160px !important;width: 1300px !important;}
    .gcground3img2{padding-top: 200px;height: 1360px !important;margin-left: -100px !important;}
    .gcgroundgrid4 ul{font-size: 65px !important;width: 1300px !important;}

    .gcgroundredtriangle{left: 750px !important;top: -540px !important;
        height: 600px !important;width: 600px !important;}
        .gc11{display:  none !important;}
        .gc22{display:  contents !important;position: relative;}
        .gcgroundredtriangle h4{font-size: 60px !important;left: -220px !important;top: 20px !important;}
        .gcgroundplayicon{color: rgb(255, 255, 255);height: 60px !important;
            width: 50px !important;position: relative;left: 140px ;
            top: 210px;  }
        #gcp1{width: 900px !important;}
  }

/*-------------------------------375-------------------*/
@media screen and (max-width:376px){
    .gcground3img2{height: 1220px !important;margin-left: -20px !important;}
    .gcgroundredtriangle{left: 652px !important;top: -546px !important;}
    .gcgroundgrid4 p{width: 1250px !important;}
    .gcgroundgrid4 ul{width: 1100px !important;margin-left: 120px !important;}
    .gcgroundgrid4{height: 2800px !important;}
}
/*-------------------------------320-------------------*/
@media screen and (max-width:321px){
    .gcground3img2{height: 1090px !important;margin-left: 30px !important;}
    .gcgroundredtriangle{left: 550px !important;top: -546px !important;}
    .gcgroundgrid4 p{width: 1050px !important;}
    .gcgroundgrid4 ul{width: 900px !important;margin-left: 150px !important;}
    .gcgroundgrid4{height: 2800px !important;margin-left: 50px !important;}
    .gcgroundgrid4 h2{font-size: 60px !important;margin-top: -250px !important;padding-bottom: 50px !important;}
}
  
  