.slidethree{background-color: #E33D3B !important;
    margin-top: 500px;
    display: block;height: 570px;
}
.slidethree img{
    position: absolute;transform: translate(8px, -570px);
    clip-path: polygon(96% 0,96% 65%,65% 91%,0 91%);
    width: 700px !important;
}
.triangleone{background-color: rgb(255, 255, 255) !important;
    position: relative;
    top: -20px;
    left: 0px !important;
    width: 220px !important;
    height: 220px !important;
    display: block !important;
    clip-path: polygon(0 0,0 100%,100% 0) !important;
    transform: translateY(739px);}
    
.slidethree h1{color: rgb(255, 255, 255);
    position: relative;left: 200px;top: -60px;
    animation: sliding 4s ;
}
@keyframes sliding {
    0%   { left:400px; }
    25%  {left:400px; }
    100% { left:200px; }
}
.slidethree h1{width: 600px;font-size: 37px;text-align: left;
    padding-top: 100px !important;padding-left: 0px;
}
.slidethree h3{width: 600px;color: white !important;font-weight: 200 !important;font-size: .420em !important;}
.whiteone{background-color:white !important;
    height: 80px !important;
    width: 80px !important;
    position: relative;
    left: 1190px !important;
    z-index: 10 !important;
    top: -80px !important;
}

/*responsive of 1024*/
@media screen and (max-width: 1025px){
    .slidethree img {
        width: 700px !important;
        clip-path: polygon(95% 0,96% 56%,57% 91%,0 91%);
        transform: translate(-91px, -547px);
    }
    .css-1633um2-MuiPaper-root  {
        padding: 17px;
    }
    .slidethree h1 {
        transform: translate(-75px, -36px);
        width: 552px;
   }
   .slidethree h3 {
    font-size: 12px !important;
   }
}


/*responsive of tab*/
@media screen and (max-width:769px){
    .triangleone {
        display: block !important;
        background-color: rgb(255, 255, 255) !important;
        transform: translateY(750px);
    }
    .slidethree {
        transform: translate(71px, 10px);
    }
    .slidethree h1 {
        font-size: 33px;
        width: 377px;
    }
    .slidethree h3 {
        width: 385px;
        transform: translate(0px, -4px);
    }
    .slidethree img {
        width: 666px !important;
        clip-path: polygon(108% 0, 82% 62%,46% 91%,0 91%);
        transform: translate(-55px, -591px);
    }
}


/*responsive of mobile large*/
@media screen and (max-width:426px){
    .slidethree {
        transform: translate(0px, 10px);
        height: 640px;
    }
    .triangleone {
        display: block !important;
        background-color: rgb(255, 255, 255) !important;
        transform: translateY(750px);
        clip-path: polygon(0 0,0 100%,100% 0) !important;
    }
    .slidethree h1 {
        font-size: 22px;
        width: 255px;
        transform: translate(-145px, -50px);
    }
    .slidethree h3 {
        width: 296px;
        transform: translate(0px, -4px);
    }
    .slidethree img {
        transform: translate(-213px, -211px);
        clip-path: polygon(107% 0, 101% 58%,63% 91%,0 91%) !important;
    }
    
}


/*responsive of mobile medium*/
@media screen and (max-width:376px){
    .slidethree {
        width: 114%;
        transform: translate(-1px, 10px);
        height: 640px;
    }
    .slidethree img {
        transform: translate(-213px, -297px);
    }
    .slidethree h1 {
        font-size: 26px;
        width: 252px;
        transform: translate(-145px, -50px);
    }
    .slidethree h3 {
        width: 240px;
        transform: translate(0px, -4px);
    }
}

/*responsive of mobile medium*/
@media screen and (max-width:321px){
    .slidethree {
        width: 123%;
        height: 900px;
    }
    .slidethree h1 {
        font-size: 28px;
        width: 209px;
        transform: translate(-128px, -50px);
        line-height: 39px;
    }
    .slidethree img {
        transform: translate(-180px, -168px);
    }
}






