.fe4 {
    font-size: 40px;
}
.co4{
    color: red;
    font-size: 80px;
}
    .cardlast img{
        transform: translate(195px,-66px);
 }
 .card{
    border: #2c2f3b;
    height: 400px;
 }
 .cardlast{
    transform: translate(40px,100px)!important;
    }
    .uk-card h3 {
        font-size: 1.5em!important;
        font-weight: 400;
        color: #E33D3B;
        letter-spacing: 1.5px;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: left;
    }
     .h2 {
        color: #2c2f3b;
    }
    
    .css-a5rdam-MuiGrid-root{
        box-shadow: 2px 5px 12px 0 rgb(0 0 0 / 50%);
        width: calc(88% + 8px);
        transform: translate(150px,100px) !important;
    }



    /*responsive of tab*/
@media screen and (max-width:769px){
    .fe4{
        display: none !important;
    }
    .co4{
        display: none !important;
    }
   
}
