.geo-crd{
    font-size: 70px;
    transform: translate(-400px,50px);
    font-family: 'Oswald', sans-serif !important;
}
.geo-card{
    transform: translate(50px,100px);
}
.slide13{width: 200px !important;font-size: 16px;color: black !important;
    text-align: left;line-height: 1.5;padding-left: 30px;
   
    }
    .basecard3{width:550px;
       border-radius: 0% !important;filter: drop-shadow(2px 5px 5px rgba(0,0,0,.21)) !important;
       background-color:  #fff;
       
    }
    .cardimg3{ width: 280px !important;height: 520px;}
    .cardtitle3{color: #E33D3B !important;text-align: left;padding-left: 30px;
        font-size: 25px !important;padding-bottom: 20px;padding-top: 30px;
    }
    .cardbutton3{color: #E33D3B !important;text-align: left;padding-left: 30px;
        padding-top: 40px;
    }
    .card-one1{margin-left:100px;}
    .card-two2{margin-right: 50px !important;}
    .card-one1, .card-two2{margin-top: 50px;}
    .card-one1, .card-two2{margin-bottom: 50px;}
    
    .css-1633um2-MuiPaper-root{
    box-shadow: 2px 5px 12px 0 rgb(0 0 0 / 50%);
    }
   
    
    .basecard3, .cardimg3{filter: drop-shadow(2px 5px 5px rgba(0,0,0,.21)) !important;
        clip-path: polygon(
            0 0,
            0 0,
            100% 0,
            100% 10%,
            100% 75%,
            85% 100%,
            0% 100%,
            0% 100%,
            0% 0%
          )!important;
    }
    .cardgeo{height: 1070px;}



     /*responsive  of lap */
     @media screen and (max-width:1025px) {
        .geo-card {
            transform: translate(60px,375px);
        }
     }


     /*responsive of tab*/
@media screen and (max-width:769px){
    .geo-crd {
        font-weight: 300;
        font-size: 63px;
        transform: translate(-227px,-136px);
    }
}


   /*responsive of mobile large*/
   @media screen and (max-width:426px) {
    .geo-card {
        transform: translate(-54px,100px);
    }
    .geo-crd {
        transform: translate(54px,-13px);
        background-color: #f8f8f9;
        text-align: left;
        padding-top: 25px;
        padding-left: 37px;
    }
    .basecard3 {
        width: 194px !important;
        transform: translate(-82px, 10px);
    }
    .css-11lq3yg-MuiGrid-root {
        transform: translate(-17px,-18px) !important;
    }
   }


   /*responsive of mobile medium*/
   @media screen and (max-width:376px) {}
  
  
  
    /*responsive of mobile small*/
    @media screen and (max-width:321px) {}