@media  screen and (max-width: 2000px) 
    {
.primary2{
    height: 500px;
    background-color: white;
}

.cont2{
    margin-top: 100px;
    text-align: left;
}

.cont2 h3{
    
    color: #531cb3;
    font-size: 9.75rem;
    font-weight: 300;
    line-height: .78;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: inherit;
}
.cont2 p1{
    font-size: 1.5em;
    font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400;
    line-height: 1.5;
    color: #2c2f3b;
    text-align: left;

}
.triangle4{
   transform: translateY(-330px); 
   width: 60%!important;
   opacity: 0.8;

}
.picture2 {
    background-color: transparent;
    margin-left: 40px;
    margin-top: 60px;
}
.ui.large.image{
    width: 400px!important;
    margin-top: 20px;
    margin-left: 30px;
}
}
@media  screen and (max-width: 1440px) {
        body{overflow-x: hidden !important;
    }
.cont2 {
transform:translateX(-50px);
}
.picture2 {
    margin-left: 0px;
    transform: translate(100px,0px);
}
}
@media  screen and (max-width: 1025px) {
    .picture2{
        margin-left: 0px;
        transform: translate(49px,80px);
    }
    .ui.large.image{
        width: 300px!important;

    }
    .triangle4{
        width: 67%!important;

        transform: translate(40px,-240px);
    }
    .cont2{
        margin-top: 130px;
    }
    .cont2 p1{
        margin-top: 30px!important;
    }
    }
    @media  screen and (max-width: 768px) {
        .cont2{
            margin-left: 65px;
            width: 350px;
            margin-top: 120px;
        }
        .cont2 h3{
            font-size: 6rem!important;
        }
        .cont2 p1{
            font-size: 1em;
            padding-top: 20px;
        }
        .ui.large.image{
            width: 193px!important;
        }
        .picture2{
            transform: translate(495px,-290px);
        }
        .triangle4{
            transform: translate(20px,-260px);
        }
        .primary2{
            height: 370px;
        }
    }
    @media  screen and (max-width: 426px) {
        .primary2{
            height: 820px;
        }
        .picture2{
            transform: translate(10px,10px);
        }
        .ui.large.image{
     width: 350px!important;
        }
        .triangle4{
            transform: translate(105px,-230px);
        }
    }
    @media  screen and (max-width: 376px) {
        .primary2{
            height: 790px;
        }
    .cont2 h3{
        font-size: 5.5rem!important; 
    }
    .picture2{
        transform: translate(-20px,0px);
    }
    }
    @media  screen and (max-width: 321px) {
        .ui.large.image{
        width: 270px!important;
        transform: translateX(20px);
        }
        .cont2{
            width: 270px;
            margin-left: 70px;
        }
        .cont2 h3{
            font-size: 4.5rem!important;
            margin-left: 0px;
        }
        .triangle4{
            transform: translate(70px,-180px);
        }
        .primary2{
            height: 722px;
        }

    }