.css-ah0e1x-MuiPaper-root  {box-shadow: none !important;}


.css-ah0e1x-MuiPaper-root {box-shadow:  none !important;}
.selfslide1{height: 475px !important;}
.selfgrid1{transform: translateY(100px);box-shadow: none !important;
    margin-left: 50px !important;}
.selfgrid1 h1{color: #531cb3;font-size: 100px !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    letter-spacing: -5px;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    }
.selfgrid1 p{font-size: 25px;color: rgb(56, 54, 54);
    width: 750px !important;
    }
#img1s{box-shadow: none !important;}
#img2s{box-shadow: none !important;}
#img1s img{transform: translateY(80px) !important;
        border-radius: 360% !important;height: 350px !important;
}
#img2s img{transform: translate(70px,-250px);height: 350px !important;
    mix-blend-mode: multiply;
}
.selfslide2{display: none !important;}


/*-------------------------------1024-------------------*/
@media screen and (max-width:1024px){
 
    body{overflow-x: hidden !important;
        margin-right:-395px !important;
        padding: 0px !important;
    }  
    .selfslide1{height: 920px !important;}
    .selfgrid1 h1{font-size: 170px !important;width: 1000px !important;}
    #img1s img{transform: translate(-50px,200px) !important;width: 600px !important;height: 600px !important;}
    #img2s img{transform: translate(20px,-300px) !important;width: 600px !important;height: 600px !important;}
    .selfgrid1 p{font-size: 43px !important;width: 1100px !important;padding-top: 80px !important;
}
}
/*-------------------------------768-------------------*/
@media screen and (max-width:769px){
 
    body{overflow-x: hidden !important;
        margin-right:-650px !important;
        padding: 0px !important;
    }  
    .selfgrid1 h1{font-size: 150px !important;width: 1200px !important;}
    .selfgrid1 p{font-size: 33px !important;width: 800px !important;
                    padding-top: 30px !important;
    }
  
}
/*-------------------------------425-------------------*/
@media screen and (max-width:426px){
 
    body{overflow-x: hidden !important;
        margin-right:-1300px !important;
        padding: 0px !important;
    }
    .selfslide1{display: none !important;}
    .selfslide2{display: contents !important;}
    .grid2r{height: 1940px !important;}
    .selfgrid1 h1{font-size: 240px !important;width: 1300px !important;}
    .selfgrid1 p{font-size: 65px !important;width: 1500px !important;
                    padding-top: 30px !important;
    }

    #img1r img{transform: translate(150px,350px) !important;
        width: 1400px !important;   border-radius: 360% !important;
    }
    #img2r img{transform: translate(690px,-480px) !important;
        height: 1000px !important;  mix-blend-mode: multiply;
    }
}
/*-------------------------------375-------------------*/
@media screen and (max-width:376px){
 
    body{overflow-x: hidden !important;
        margin-right:-1200px !important;
        padding: 0px !important;
    }
    .selfgrid1{margin-left: 180px !important;}
    #img1r img{transform: translate(180px,200px) !important;
        width: 1200px !important;
    }
    #img1r{box-shadow: none !important;}
    #img2r img{transform: translate(430px,-780px) !important;
        height: 1100px !important;
    }
    .selfgrid1 p{width: 1300px !important;}
    .grid2r{height: 1540px !important;margin-left: 80px !important;}
}
/*-------------------------------320-------------------*/
@media screen and (max-width:321px){
 
    body{overflow-x: hidden !important;
        margin-right:-1300px !important;
        padding: 0px !important;
    }
    .selfgrid1 h1{width: 1150px !important;}
    .selfgrid1, .slide1grid2{margin-left: 280px !important;}
    .selfgrid1 p{width:1000px !important ;}
    #img1r img{transform: translate(310px,200px) !important;
        width: 1050px !important;
    }
    #img2r img{transform: translate(480px,-670px) !important;
        height: 1000px !important;
    }
    .grid2r{height: 1400px !important;}
}


