@media  screen and (max-width: 2000px) 
{
.trio{
    margin-left: 30px;
    margin-top: 40px;
}
.overlaymp{
    display: none;
}
.image{
    position: relative;
}
.img__effect{
    display: block;
    width: 100%;
}
.img__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(62,50,59,.9);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.25s;
}
.img__overlay:hover{
    opacity: 0;
}
.description{
    font-size: 1.25em;
}
.overlaycomp .ui.card {
    width: 350px!important;
    border: 1px solid #3e323b!important;
    background-color: white!important;
}
.contentmp h4{
    font-size: 2.7em!important;
    font-weight: 300!important;
    color: #3e323b!important;
    letter-spacing: 1.5px!important;
    text-align: center!important;
    line-height: 1em;
        font-family: 'Roboto Condensed', sans-serif;

}
.overlaycomp .contentmp{
    padding: 14px  14px;
}

  .overlaycomp .contentmp1{
    padding: 13px 13px;
    text-align: center;
  }

  .overlaycomp .contentmp1 p{
    font-size: 1.5em!important;
    font-weight: 400;
    font-size: 1.25em;
    color: #3e323b;
    letter-spacing: 1.5px;

}
  
}
@media  screen and (max-width: 1025px) 
{
    .overlaycomp .contentmp1{
        padding: 4px 0px;
    }
    .overlaycomp .ui.card{
        height: 380px;
    }
}
@media  screen and (max-width: 769px) 
{
    .overlaymp{
        display: block;
        height: 450px;
        margin-top: 50px;
    }
    .overlaycomp{
        display: none!important;
    }
    .overlaymp .ui.card{
        border: 1px solid #3e323b!important;
        height: 350px;
        margin-left: 50px;
        margin-left: 75px;
    }
    .overlaymp h4{
        font-size: 2.5em!important;
        font-weight: 300!important;
        color: #3e323b!important;
        letter-spacing: 1.5px!important;
        text-align: center!important;
        line-height: 1em;
                    font-family: 'Roboto Condensed', sans-serif;
    }
    
 .overlaymp .contentmp{
                padding: 14px  14px;
                }
.overlaymp .contentmp1{
    text-align: center;
    padding: 10px 10px;
}
                .overlaymp .contentmp1 p{
                font-size: 1.25em!important; 
                 font-weight: 400;
                    font-size: 1.25em;
                    color: #3e323b;
                    letter-spacing: 1.5px;
                
                }
                  

}
@media  screen and (max-width: 426px) 
{
    .overlaymp .ui.card{
        margin-left: 77px!important;
        height: 430px!important;

        }
        .overlaymp{
            margin-top: 20px;
            height: 450px;
        }
}
@media  screen and (max-width: 376px) 
{
    .overlaymp .ui.card{
margin-left: 50px!important;
}
}
@media  screen and (max-width: 321px) 
{
    .overlaymp .ui.card{
        margin-left: 15px!important;
        width: 250px!important;
        height: 350px!important;
        }


}