@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Condensed:wght@300&family=Smooch+Sans:wght@500&display=swap');

.firstContainer{
    margin-left: 80px;
    margin-top: 50px;
}
.sec1Audio h1{
    font-size:  85px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    line-height: .85;
    text-align: left;
    max-width: 700px;
    transform: scale(1, 1.9);
    text-transform: uppercase;
    margin-top: 42px !important;
}
.sec1Audio p{
    margin-top: 130px;
    font-size: 26px;
    max-width: 700px;
    text-align: left;
    font-family:   sans-serif;
    color: #2c2f3b;
    margin-bottom: 60px;
}
.sec1Audio a{
  margin-left: -710px ;
  border: 1px solid rgb(56, 1, 152) !important;
  color: rgb(56, 1, 152) !important;
  background-color: transparent;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-top:7px ; 
  padding-bottom:7px ; 
  padding-left:10px ; 
  padding-right:30px ; 
  text-decoration: none;
  transition-delay: 3s;
  z-index: -1;
}
/* @keyframes linesvgfirst{
  from{stroke-width: 0; }
  to{stroke-width: 1 ; }
  }
  .sec1 a:hover #linefirst{
    animation-name: linesvgfirst;
    animation-duration: 2s; 
    animation-delay: 1s;
    } */
/* div.box{
  margin-left: 146px;
  margin-top: -34px;
  border: 1px solid #e33d3b !important;
  height: 42px;
  width: 37px;
  cursor:pointer; 
  z-index: 0;
}
.triangleAudio2:after {
  position:absolute;
  content:"";
  width: 0;
  height: 0;
  margin-top:2px;
  margin-left:3px;
  border-left: 28px solid transparent;
  border-right: 28px solid transparent;
  border-bottom: 28px solid white;
  transform: rotate(315deg);
} 
.triangleAudio2:before {
  position:absolute;
  content:"";
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid  #e33d3b;
  transform: rotate(315deg);
} 
.triangleAudio2{
  position: relative;
  margin-left: -70px !important;
  margin-top: -100px !important;
} */ 
  .sec2Audio{
    margin-left: -110px;
    margin-top: 60px;
  }   
 
 
.sec2Audio img{
    border-radius: 50%;
    width: 400px;
    max-width: 100%;
}
.sec2Audio{
    margin-left: -110px;
    margin-top: 20px !important;
  }   
.triangleAudio{
    height: 0;
    width: 0;
    border-bottom: 420px solid rgb(56, 1, 152);
    opacity: .7;
    border-left: 420px solid transparent ;
    margin-left: 190px;
    margin-top: -160px !important;
    
} 
@media only screen and (max-width:1440px){
    .sec1Audio p{
        margin-top: 112px;
        margin-left: 0px;
        font-size: 24px;
        max-width: 750px;
        margin-bottom: 65px;
      }
      .triangleAudio{
        height: 0;
        width: 0;
        border-bottom: 350px solid rgb(56, 1, 152);
        opacity: .7;
        border-left: 350px solid transparent ;
        margin-left: 190px !important;
        margin-top: -200px;
        
    }
}

@media only screen and (max-width:1024px){
  .firstContainer{
    margin-top: 130px;
  }
  .sec1Audio h1{
    margin-left: -40px;
    font-size: 83px;
    font-weight: 600;
    line-height: .85;
  }
  .sec1Audio p{
    margin-top: 112px;
    margin-left: -40px;
    font-size: 25px;
    max-width: 610px;
  }
  .sec1Audio a{
    margin-left: -528px;
  }
  .sec2Audio{
    margin-top: 145px !important;
    margin-left: -90px;
  }
  .sec2Audio img{
    width: 290px;
  }
  .triangleAudio{
    margin-top: -145px;
    margin-left: 105px !important;
  }
}

@media only screen and (max-width:768px){
  .firstContainer{
    margin-top: 70px;
}
  .sec1Audio h1{
    margin-left: -40px;
    font-size: 55px;
    font-weight: 600;
    transform: scale(1, 1.6);
  }
  .sec1Audio p{
    margin-top: 62px;
    font-size: 17px;
    margin-bottom: 60px;
    max-width: 440px;
  }
  .sec1Audio a{
    margin-left: -360px;
  }
  .sec2Audio{
    margin-top: 140px !important;
    margin-left: -75px;
  }
  .sec2Audio img{
    width: 200px;
  }
  .triangleAudio{
    margin-top: -215px !important;
    margin-left: 92px;
  }
}

@media only screen and (max-width:450px){
  .firstContainer{
    margin-top: 40px;
}
  .sec1Audio h1{
    margin-left: -60px;
    transform: scale(1, 1.5);
  }
  .sec1Audio p{
    margin-top: 70px;
    margin-left: -55px;
    margin-bottom: 50px;
    font-size: 16px;
    max-width: 370px;
  }
  .sec1Audio a{
    margin-left: -280px;
  }
  .sec2Audio{
    margin-top: 80px !important;
    margin-left: -75px;
  }
  .sec2Audio img{
    width: 370px;
  }
  .triangleAudio{
    margin-top: -300px !important;
    margin-left: 160px !important;
  }
}
@media only screen and (max-width:380px){
    .sec1Audio h1{ 
        font-size: 52px;
      }
  .sec1Audio a{
    margin-left: -230px;
  }
  .sec2Audio{
    margin-top: 80px;
    margin-left: -75px;
  }
  .sec2Audio img{
    width: 310px;
  }
  .triangleAudio{
    margin-top: -300px;
    margin-left: 100px !important;
  }
}
@media only screen and (max-width:320px){
  .sec1Audio h1{ 
    font-size: 42px;
  }
  .sec1Audio p{
    font-size: 14px;
    max-width: 210px;
  }
  .sec1Audio a{
    margin-left: -180px; 
  }
  .sec2Audio img{
    width: 260px;
  }
  .triangleAudio{
    margin-top: -300px;
    margin-left: 35px;
  }
}