.secondsec1{
    background-color: rgb(247,247,247);
    height:450px
}
.secondhead1{
    color:#2c2f3b;
    text-transform: uppercase;
    font-size:2.75rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 700;
    line-height: .78;
    text-align: left;
    width:1500px;
    -webkit-text-size-adjust: 100%;
    -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin-top:60px;
}
.secondpara1{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    margin: 0;
    font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5;
    color: #2c2f3b;
    text-align: left;
  margin-top: 20px;
    width:700px
}
.tstpart1{
    margin-left: 20px;
    margin-top: 30px;
}
.secondimgsec1{
    margin-top: 30px;
}
.secondsechead1{
    color:#2c2f3b;
    text-transform: uppercase;
    font-size:8.75rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 300;
    line-height: .78;
    text-align: left;
    width:3000px;
    -webkit-text-size-adjust: 100%;
    -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin-top:80px;
    -webkit-transform: scaleX(1);
transform: scaleX(0.4);
letter-spacing: 5px;
margin-left:-630px ;
}
.sec1{
    margin-top:80px;
    
}
.secondsecpara1{
    width:1200px;
    text-align: left;
    margin-left: 400px;
    margin-top: 30px;
    margin-left:200px;
    
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.5;
    color: #2c2f3b;
}
@media only screen and (max-width:1025px){
    .secondpara1{
        width:550px !important
    }
    .second1{
        padding-top: 40px;
    }
    .secondsec1{
        height: 380px;
    }
    .secondsechead1{
        width: 2000px ;
        margin-left:-500px;
        transform: scaleX(0.5);
        text-align: center;
        font-size:7.75rem;
    }
    .secondsecpara1{
        width:950px;
        text-align:left ;
        margin-left: 40px ;
        margin-top: 30px;
        margin-left: 60px !important ;
        
        font-size: 1.8em;
        font-weight: 300;
        line-height: 1.5;
        color: #2c2f3b;
        
    }
}
@media only screen and (max-width:769px){
    .secondpara1{
        width:370px !important;
        margin-top: -10px;
     
    }
    .secondhead1{
        color:#2c2f3b;
        text-transform: uppercase;
        font-size:1.95rem;
        font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
        font-weight: 700;
        line-height: .78;
        text-align: left;
        width:1500px;
        -webkit-text-size-adjust: 100%;
        -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        margin-top:10px;
        -webkit-transform: scaleX(.6);
        margin-left: -300px;
    }
    .second1{
        padding-top: 60px!important;
    }
    .secondsec1{
        height: 560px !important;
    }
    .secondsechead1{
        width: 1500px !important;
        margin-left:-350px !important;
        transform: scaleX(0.5);
        text-align: center;
        font-size: 5.75rem !important;
    }
    .secondsecpara1{
        width:650px !important;
        text-align:center;
        margin-left: 60px !important;
        margin-top: 30px;
        
        
        font-size: 1.2em !important;
        font-weight: 300;
        line-height: 1.5;
        color: #2c2f3b;
    }
    .secondsec1{
        background-color: rgb(247,247,247);
        height:480px !important
    }
    .tstpart1{
        margin-left: 20px;
        margin-top: 10px;
    }
}
@media only screen and (max-width:426px){
    .secondpara1{
        width:350px !important;
        margin-left: 20px;
    }
    .secondhead1{
        color:#2c2f3b;
        text-transform: uppercase;
        font-size:1.95rem;
        font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
        font-weight: 700;
        line-height: .78;
        text-align: left;
        width:1500px;
        -webkit-text-size-adjust: 100%;
        -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        margin-top:80px;
        -webkit-transform: scaleX(.6);
        margin-left: -280px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .second1{
        padding-top: 40px!important;
    }
    .secondsec1{
        height: 600px!important;
    }
    .secondsechead1{
        width: 800px !important;
        margin-left: -190px !important;
            
     
        transform: scaleX(0.5);
        text-align: center;
        font-size: 4.75rem ;
        margin-top: 180px !important;
    }
    .secondsecpara1{
        width:390px !important;
        text-align:center;
        margin-left: 20px !important;
        margin-top: 30px;
        
        
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.5;
        color: #2c2f3b;
    }
    .second1{
        background-color: rgb(247,247,247);
        height:750px !important
    }
}
@media only screen and (max-width:376px){
    .secondpara1{
        width:320px !important;
        margin-left: 10px;
    }
    .secondhead1{
        color:#2c2f3b;
        text-transform: uppercase;
        font-size:1.95rem;
        font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
        font-weight: 700;
        line-height: .78;
        text-align: left;
        width:1500px;
        -webkit-text-size-adjust: 100%;
        -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        margin-top:80px;
        -webkit-transform: scaleX(.6);
        margin-left: -290px ;
    }
    .second{
        padding-top: 40px!important;
    }
    .secondsec{
        height: 600px!important;
    }
    .secondsechead1{
        width: 800px !important;
        margin-left:-220px !important;
        transform: scaleX(0.5);
        text-align: center;
        font-size: 4.75rem;
        margin-top: 180px !important;
    }
    .secondsecpara1{
        width:300px !important;
        text-align:center;
        margin-left: 10px;
        margin-top: 30px;
        
        
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.5;
        color: #2c2f3b;
    }
    .second{
        background-color: rgb(247,247,247);
        height:750px !important
    }
}
@media only screen and (max-width:322px){
    .secondpara1{
        width:280px !important;
        margin-left: 10px;
    }
    .secondhead1{
        color:#2c2f3b;
        text-transform: uppercase;
        font-size:1.95rem;
        font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
        font-weight: 700;
        line-height: .78;
        text-align: left;
        width:1500px;
        -webkit-text-size-adjust: 100%;
        -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        margin-top:80px;
        -webkit-transform: scaleX(.6);
        margin-left: -290px ;
    }
    .second{
        padding-top: 40px!important;
    }
    .secondsec{
        height: 600px!important;
    }
    .secondsechead1{
        width: 600px !important;
        margin-left:-140px !important;
        transform: scaleX(0.5);
        text-align: center;
        font-size: 4.75rem;
        margin-top: 180px !important;
    }
    .secondsecpara1{
        width:250px !important;
        text-align:center;
        margin-left: 10px;
        margin-top: 30px;
        
        
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.5;
        color: #2c2f3b;
    }
    .second{
        background-color: rgb(247,247,247);
        height:750px !important
    }
}
