.thirdheadlidar{
    color:#2c2f3b;
text-transform: uppercase;
font-size: 8.75rem;
font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
font-weight: 300;
line-height: .78;
text-align: left;
width:3500px;
transform: scaleX(0.4);
letter-spacing: 5px;
margin-left:-830px;
word-spacing: 20px;
margin-top: 0px;
padding-top: 50px;
}
.third{
    margin-top: 60px;
    background-color: rgb(247,247,247);
}
.thirdcontainer{
    margin-top: 60px;
}
.subheadlidar{
    color:#2c2f3b;
    text-transform: uppercase;
    font-size:3.75rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 700;
    line-height: .78;
    text-align: left;
    width:1500px;
    transform: scaleX(0.5);
    -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin-top:80px;
    margin-left: -350px;
}
.subheadrightlidar{
    color:#2c2f3b;
    text-transform: uppercase;
    font-size:3.75rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 700;
    line-height: .78;
    text-align: left;
    width:1500px;
    transform: scaleX(0.5);
    -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin-top:80px;
    margin-left: -380px;
}
.thirdparali{
    text-align: left;
    font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2f3b;
    text-align: left;
    width: 740px;
    margin-left: 22px;
}
.thirdpara1li{
    text-align: left;
    font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2f3b;
    text-align: left;
    width: 730px;
    margin-left: 2px;
}
.thirdcont{
    margin-top: 50px;
}
@media only screen and (max-width:1025px){
    .thirdheadlidar{
        color:#2c2f3b;
    text-transform: uppercase;
    font-size: 8.75rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 300;
    line-height: .78;
    text-align:center;
    width:2000px !important;
    transform: scaleX(0.4);
    letter-spacing: 5px;
    margin-left:-480px !important;
    word-spacing: 20px;
    margin-top: 0px;
    
    }   
    
.subheadlidar{
    color:#2c2f3b;
    text-transform: uppercase;
    font-size:2.75rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    width:1100px !important;
    transform: scaleX(0.5);
    -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin-top:80px;
    margin-left: -250px !important;
}
.thirdparali{
    text-align: left;
    font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2f3b;
    text-align: left;
    width: 540px;
    margin-left: 22px;
}
.thirdpara1li{
    text-align: left;
    font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2f3b;
    text-align: left;
    width: 530px ;
    margin-left: 2px;
}
.imgthirdcont{
    margin-left: 50px;
}
.subheadright1{
    width: 1000px !important;
    margin-left: -250px;
}
.imgthirdcont1{
    margin-left: 40px;
}
.imglidarthird{
    margin-left: 40px !important;
}
.subheadrightlidar{
    color:#2c2f3b;
    text-transform: uppercase;
    font-size:2.75rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    width:1000px;
    transform: scaleX(0.5);
    -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin-top:80px;
    margin-left: -250px;
}

}
@media only screen and (max-width:769px){
    .thirdheadlidar{
        color:#2c2f3b;
    text-transform: uppercase;
    font-size: 6.75rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 300;
    line-height: .78;
    text-align:center;
    width:1800px !important;
    transform: scaleX(0.4);
    letter-spacing: 5px;
    margin-left:-500px !important;
    word-spacing: 20px;
    margin-top: 0px;
    
    }   
    
.thirdparali{
    text-align: left;
    font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2f3b;
    text-align: left;
    width: 390px;
    margin-left: 22px;
}
.thirdpara1li{
    text-align: left;
    font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2f3b;
    text-align: left;
    width: 530px ;
    margin-left: 2px;
}
.imgthirdcont{
    margin-left: 50px;
}
.subheadright1{
    width: 1000px !important;
    margin-left: -250px;
}
.imgthirdcont1{
    margin-left: 40px;
}
.imglidarthird{
    margin-left: 40px !important;
}
.subheadrightlidar{
    color:#2c2f3b;
    text-transform: uppercase;
    font-size:2rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 700;
    line-height:27px;
    text-align: left;
    width:700px;
    transform: scaleX(0.5);
    -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin-top:80px;
    margin-left: -170px;
}
.subheadlidar{
    color:#2c2f3b;
    text-transform: uppercase;
    font-size:2rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    width:700px !important;
    transform: scaleX(0.5);
    -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin-top:80px;
    margin-left: -160px !important;
}
}


@media only screen and (max-width:426px){
    .thirdheadlidar{
        color:#2c2f3b;
    text-transform: uppercase;
    font-size: 6.75rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 300;
    line-height: .78;
    text-align:center;
    width:800px !important;
    transform: scaleX(0.4);
    letter-spacing: 5px;
    margin-left:-200px !important;
    word-spacing: 20px;
    margin-top: 0px;
    
    }   
    
.thirdparali{
    text-align: left;
    font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2f3b;
    text-align: left;
    width: 350px;
    margin-left: 22px;
}
.thirdpara1li{
    text-align: left;
    font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2f3b;
    text-align: left;
    width: 380px ;
    margin-left: 2px;
}
.imgthirdcont{
    margin-left: 50px;
}
.subheadright1{
    width: 1000px !important;
    margin-left: -250px;
}
.imgthirdcont1{
    margin-left: 40px;
}
.imglidarthird{
    margin-left: 40px !important;
}
.subheadrightlidar{
    color:#2c2f3b;
    text-transform: uppercase;
    font-size:2rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 700;
    line-height: 25.78px;
    text-align: left;
    width:700px;
    transform: scaleX(0.5);
    -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin-top:80px;
    margin-left: -170px;
}
.subheadlidar{
    color:#2c2f3b;
    line-height: 26.78px;
    text-transform: uppercase;
    font-size:2rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 700;
  
    text-align: left;
    width:700px !important;
    transform: scaleX(0.5);
    -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin-top:80px;
    margin-left: -160px !important;
}
}
@media only screen and (max-width:376px){
    .thirdheadlidar{
        color:#2c2f3b;
    text-transform: uppercase;
    font-size: 6.75rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 300;
    line-height: .78;
    text-align:center;
    width:800px !important;
    transform: scaleX(0.4);
    letter-spacing: 5px;
    margin-left:-200px !important;
    word-spacing: 20px;
    margin-top: 0px;
    
    }   
    
.thirdparali{
    text-align: left;
    font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2f3b;
    text-align: left;
    width: 300px;
    margin-left: 22px;
}
.thirdpara1li{
    text-align: left;
    font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c2f3b;
    text-align: left;
    width: 300px ;
    margin-left: 2px;
}
.imgthirdcont{
    margin-left: 50px;
}
.subheadright1{
    width: 1000px !important;
    margin-left: -250px;
}
.imgthirdcont1{
    margin-left: 40px;
}
.imglidarthird{
    margin-left: 40px !important;
}
.subheadrightlidar{
    color:#2c2f3b;
    text-transform: uppercase;
    font-size:2rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 700;
    line-height: 25.78px;
    text-align: left;
    width:600px;
    transform: scaleX(0.5);
    -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin-top:80px;
    margin-left: -150px;
}
.subheadlidar{
    color:#2c2f3b;
    line-height: 26.78px;
    text-transform: uppercase;
    font-size:2rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 700;
  
    text-align: left;
    width:600px !important;
    transform: scaleX(0.5);
    -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin-top:80px;
    margin-left: -130px !important;
}
}

@media only screen and (max-width:322px){
    .thirdheadlidar{
        color:#2c2f3b;
    text-transform: uppercase;
    font-size: 6.75rem;
    font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    font-weight: 300;
    line-height: .78;
    text-align:center;
    width:600px !important;
    transform: scaleX(0.4);
    letter-spacing: 5px;
    margin-left:-150px !important;
    word-spacing: 20px;
    margin-top: 0px;
    
    }   
    .imgthirdcont1{
        margin-left: 40px;
    }
    .imglidarthird{
        margin-left: 40px !important;
    }
    .subheadrightlidar{
        color:#2c2f3b;
        text-transform: uppercase;
        font-size:2rem;
        font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
        font-weight: 700;
        line-height: 25.78px;
        text-align: left;
        width:550px;
        transform: scaleX(0.5);
        -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        margin-top:80px;
        margin-left: -140px;
    }
    .subheadlidar{
        color:#2c2f3b;
        line-height: 26.78px;
        text-transform: uppercase;
        font-size:2rem;
        font-family: Mongoose"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
        font-weight: 700;
      
        text-align: left;
        width:500px !important;
        transform: scaleX(0.5);
        -font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        margin-top:80px;
        margin-left: -110px !important;
    } 
    
    .thirdparali{
        text-align: left;
        font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #2c2f3b;
        text-align: left;
        width: 250px;
        margin-left: 10px;
    }
    .thirdpara1li{
        text-align: left;
        font-family: aktiv-grotesk,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #2c2f3b;
        text-align: left;
        width: 250px ;
        margin-left: 2px;
    }
}
